mat-form-field {
    width: 100%;
    textarea {
        resize: none;
    }
}

form {
    height: 100%;
}

.main-container {
    padding: 3.3% 2.5% 3.3% 2.5%;
    width: 100%;
    height: 233%;
}

.page-title {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 2.5%;
}

.main-section-container {
    width: 100%;
    height: 91.5%;
    background-color: white;
    padding: 3% 2%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.button-container {
    text-align: center;
    margin-top: 2%;
    button {
        width: 100%;
        background-color: #1070A1;
        border-radius: 13px;
        color: white;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 15px;
        margin-top: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

.section-title {
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 700;
    margin-bottom: 1%;
}

.section-break {
    height: 1%;
}
