<div class="main-container">
    <div class="page-title">
        Register New Book
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerBookForm">
        <div class="main-section-container">
            <div class="section-title">
                Book Info
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Book Title</mat-label>
                <input matInput type="text" name="title" ngModel required formControlName="title"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Book Author</mat-label>
                <input matInput type="text" name="author" ngModel required formControlName="author"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Edition</mat-label>
                <input matInput type="number" name="edition" ngModel required formControlName="edition"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Publication Info</mat-label>
                <input matInput type="text" name="publication" ngModel required formControlName="publication"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Publishing Year</mat-label>
                <input matInput type="number" name="year" ngModel required formControlName="year"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ISBN</mat-label>
                <input matInput type="text" name="isbn" ngModel required formControlName="isbn"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Physical Description</mat-label>
                <input matInput type="text" name="physical" ngModel required formControlName="physical"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <mat-select matNativeControl name="subject" required formControlName="subject" multiple>
                    <mat-option *ngFor = "let subject of subjectArray" [value]="subject.subjectId" (onSelectionChange)="getSubjectValue($event)">{{ subject.subjectName }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Image URL</mat-label>
                <input matInput type="text" name="image" ngModel required formControlName="image"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Summary (Optional)</mat-label>
                <textarea matInput type="text" name="summary" ngModel rows="4" formControlName="summary"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Book Content (Optional)</mat-label>
                <textarea matInput type="text" name="content" ngModel rows="4" formControlName="content"></textarea>
            </mat-form-field>

            <div class="section-break"></div>

            <div class="section-title">
                Item Info
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Circulation Type</mat-label>
                <mat-select matNativeControl name="circulation" required formControlName="circulation">
                    <mat-option value="CR001">General Circulation</mat-option>
                    <mat-option value="CR002">Staff Circulation</mat-option>
                    <mat-option value="CR003">Overnight Loan</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Collection Type</mat-label>
                <mat-select matNativeControl name="collection" required formControlName="collection">
                    <mat-option value="CL001">Print Book</mat-option>
                    <mat-option value="CL002">eBook</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Library</mat-label>
                <mat-select matNativeControl name="library" required formControlName="library">
                    <mat-option value="LB001">APU Library</mat-option>
                    <mat-option value="LB002">APIIT Library</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tag Colour</mat-label>
                <mat-select matNativeControl name="tag" required formControlName="tag">
                    <mat-option value="TG01">Open</mat-option>
                    <mat-option value="TG02">Yellow</mat-option>
                    <mat-option value="TG03">Red</mat-option>
                    <mat-option value="TG04">Green</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Call Number (Leave it as blank if it is not a physical material)</mat-label>
                <input matInput type="text" name="callNumber" ngModel required formControlName="callNumber"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Map Coordinate</mat-label>
                <mat-select matNativeControl name="coordinate" required formControlName="coordinate">
                    <mat-option *ngFor="let coordinate of coordinateArray" [value]="coordinate.coordinateId">{{ coordinate.coordinateCode }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="button-container" type="submit">
            <button mat-button>Submit</button>
        </div>
    </form>
</div>

<ngx-loading [show]="ngxLoading"></ngx-loading>