<div class="main-container">
    <div class="page-title">
        Modify Book Details
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="modifyBookForm">
        <div class="main-section-container">
            <div class="section-title">
                Book Info
            </div>
            <div class="search-form-container">
                <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Search Barcode</mat-label>
                        <input matInput type="text" name="title" ngModel [(ngModel)]="search" formControlName="search" (ngModelChange)="onChange($event)"/>
                    </mat-form-field>
                    <div class="search-button-container" type="submit">
                        <button mat-button>
                            <span class="material-icons-round">
                                search
                                </span>
                        </button>
                    </div>
                </form>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Book Title</mat-label>
                <input matInput type="text" name="title" ngModel [(ngModel)]="title" required formControlName="title"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Book Author</mat-label>
                <input matInput type="text" name="author" ngModel [(ngModel)]="author" required formControlName="author"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Edition</mat-label>
                <input matInput type="number" name="edition" ngModel [(ngModel)]="edition" required formControlName="edition"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Publication Info</mat-label>
                <input matInput type="text" name="publication" ngModel [(ngModel)]="publication" required formControlName="publication"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Publishing Year</mat-label>
                <input matInput type="number" name="year" ngModel [(ngModel)]="year" required formControlName="year"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ISBN</mat-label>
                <input matInput type="text" name="isbn" ngModel [(ngModel)]="isbn" required formControlName="isbn"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Physical Description</mat-label>
                <input matInput type="text" name="physical" ngModel [(ngModel)]="physical" required formControlName="physical"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <mat-select matNativeControl name="subject" formControlName="subject" multiple [(ngModel)]="selectedSubjectArray">
                    <mat-option *ngFor = "let subject of subjectArray" [value]="subject.subjectId"
                    (onSelectionChange)="getSubjectValue($event)">{{ subject.subjectName }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Image URL</mat-label>
                <input matInput type="text" name="image" [(ngModel)]="image" ngModel required formControlName="image"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Summary (Optional)</mat-label>
                <textarea matInput type="text" name="summary" [(ngModel)]="summary" ngModel rows="4" formControlName="summary"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Book Content (Optional)</mat-label>
                <textarea matInput type="text" name="content" ngModel [(ngModel)]="content" rows="4" formControlName="content"></textarea>
            </mat-form-field>
        </div>
        <div class="button-container" type="submit">
            <button mat-button>Save</button>
        </div>
    </form>
</div>

<ngx-loading [show]="loading"></ngx-loading>