<div class="main-container" [style.height.%]="height">
    <div class="page-title">
        Interlibrary Loan (ILL)
    </div>

    <div class="main-section-container">
        <div class="section-title">
            Search ILL Request
        </div>
        <div class="search-form-container">
            <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
                <mat-form-field appearance="outline">
                    <mat-label>Search TP Number</mat-label>
                    <input matInput type="text" name="title" ngModel [(ngModel)]="search" formControlName="search"/>
                </mat-form-field>
                <div class="search-button-container" type="submit">
                    <button mat-button>
                        <span class="material-icons-round">
                            search
                            </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="user-section" *ngIf="result">
            <div class="user-info-container">
                <div>
                    {{ name }}
                </div>
                <div>
                    {{ tpNumber.toUpperCase() }}
                </div>
                <div>
                    {{ email }}
                </div>
                <div>
                    {{ contactNumber }}
                </div>
            </div>
        </div>
        <div *ngIf="result">
            <div class="ill-record-container"  *ngFor="let ill of illArray">
                <div>
                    <div [style.backgroundColor]="ill.color">
                        <span class="material-icons-round">{{ ill.icon }}</span>
                    </div>
                    <div>
                        {{ ill.statusName }}
                    </div>
                    <div>
                        {{ ill.title }}
                    </div>
                </div>
                <div>
                    <div class="section-1">
                        {{ ill.date }}
                    </div>
                    <div class="section-2">
                        <div class="button-container button-container-accept"*ngIf="ill.statusId == 'IS001'" >
                            <button mat-button (click)="onUpdate(ill.statusId, ill.requestId, true)">Accept</button>
                        </div>
                        <div class="button-container button-container-reject"*ngIf="ill.statusId == 'IS001'" >
                            <button mat-button (click)="onUpdate(ill.statusId, ill.requestId, false)">Reject</button>
                        </div>
                        <div class="button-container button-container-update"*ngIf="ill.statusId != 'IS001' && ill.statusId != 'IS005' && ill.statusId != 'IS006'">
                            <button mat-button (click)="onUpdate(ill.statusId, ill.requestId, true)" >Update Status</button>
                        </div>
                        <div class="button-container button-container-details">
                            <button mat-button (click)="onShowDetails(ill.requestId, ill.statusName)">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>