<div class="main-container">
    <div class="page-title">
        Discussion Room Operation Hour
    </div>
    <div>
        <div class="room-record-container" *ngFor="let room of roomArray">
            <div class="left-section">
                <div class="info-icon-container">
                    <span class="material-icons-round">
                        <span class="material-icons-round">workspaces</span>
                        </span>
                </div>
                <div>
                    {{ room.roomName }}
                </div>
                <div>
                    <span class="material-icons-round">groups</span>
                    {{ room.capacity }} People
                </div>
                <div>
                    {{ room.startingTime }} - {{ room.endingTime }}
                </div>
            </div>
            <div class="right-section">
                <button mat-button (click)="triggerDialog(room.startingTimeValue, room.endingTimeValue, room.roomName, room.roomId)">
                    <span class="material-icons-round">
                        edit
                        </span>
                </button>
            </div>
        </div>
    </div>
</div>
