<div class="main-container">
    <div class="page-title">
        Upcoming Booking
    </div>
    <div *ngIf="result">
        <div class="booking-record-container" *ngFor="let booking of bookingArray">
            <div class="left-section">
                <div class="info-icon-container">
                    <span class="material-icons-round">
                        <span class="material-icons-round">workspaces</span>
                        </span>
                </div>
                <div>
                    {{ booking.room }}
                </div>
                <div>
                    <span class="material-icons-round">groups</span>
                    {{ booking.person }} People
                </div>
                <div>
                    {{ booking.startingTime }} - {{ booking.endingTime }}
                </div>
                <div>
                    {{ booking.date }}  
                </div>
                <div>
                    {{ booking.name }}
                </div>
            </div>
            <div class="right-section">
                Description: {{ booking.description }}
            </div>
        </div>
    </div>
    <div class="booking-record-container" *ngIf="!result" style="padding-left: 1.5%;">
        No upcoming booking.
    </div>
</div>
