<div class="main-container">
    <div class="page-title">
        Discussion Room Booking
    </div>


    <form (ngSubmit)="onSubmit()" [formGroup]="roomBookingForm">
            <div class="main-section-container">
                <mat-form-field appearance="outline">
                    <mat-label>Select Date</mat-label>
                    <input matInput type="date" name="date" ngModel required formControlName="date"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Select Time</mat-label>
                    <mat-select matNativeControl name="time" required formControlName="time">
                        <mat-option value="0:00:00">12:00 AM</mat-option>
                        <mat-option value="1:00:00">1:00 AM</mat-option>
                        <mat-option value="2:00:00">2:00 AM</mat-option>
                        <mat-option value="3:00:00">3:00 AM</mat-option>
                        <mat-option value="4:00:00">4:00 AM</mat-option>
                        <mat-option value="5:00:00">5:00 AM</mat-option>
                        <mat-option value="6:00:00">6:00 AM</mat-option>
                        <mat-option value="7:00:00">7:00 AM</mat-option>
                        <mat-option value="8:00:00">8:00 AM</mat-option>
                        <mat-option value="9:00:00">9:00 AM</mat-option>
                        <mat-option value="10:00:00">10:00 AM</mat-option>
                        <mat-option value="11:00:00">11:00 AM</mat-option>
                        <mat-option value="12:00:00">12:00 PM</mat-option>
                        <mat-option value="13:00:00">13:00 PM</mat-option>
                        <mat-option value="14:00:00">14:00 PM</mat-option>
                        <mat-option value="15:00:00">15:00 PM</mat-option>
                        <mat-option value="16:00:00">16:00 PM</mat-option>
                        <mat-option value="17:00:00">17:00 PM</mat-option>
                        <mat-option value="18:00:00">18:00 PM</mat-option>
                        <mat-option value="19:00:00">19:00 PM</mat-option>
                        <mat-option value="20:00:00">20:00 PM</mat-option>
                        <mat-option value="21:00:00">21:00 PM</mat-option>
                        <mat-option value="22:00:00">22:00 PM</mat-option>
                        <mat-option value="23:00:00">23:00 PM</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Duration (Hours)</mat-label>
                    <input matInput type="number" name="duration" ngModel min=1 max=24 required formControlName="duration"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Select Room</mat-label>
                    <mat-select matNativeControl name="room" required formControlName="room">
                        <mat-option value="DR001">Room 1</mat-option>
                        <mat-option value="DR002">Room 2</mat-option>
                        <mat-option value="DR003">Room 3</mat-option>
                        <mat-option value="DR004">Room 4</mat-option>
                        <mat-option value="DR005">Room 5</mat-option>
                        <mat-option value="DR006">Room 6</mat-option>
                        <mat-option value="DR007">Room 7</mat-option>
                        <mat-option value="DR008">Room 8</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Number of Person</mat-label>
                    <input matInput type="number" name="duration" ngModel min=3 max=8 required formControlName="people"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput type="text" name="description" ngModel rows="2" formControlName="description"></textarea>
                </mat-form-field>
        </div>
        <div class="button-container" type="submit">
            <button mat-button>Submit</button>
        </div>
    </form>
    
</div>

<ngx-loading [show]="loading"></ngx-loading>