<div class="main-container" [style.height.%]="height">
    <div class="page-title">
        Pay Fine
    </div>

    <div class="main-section-container">
        <div class="section-title">
            Outstanding Fine
        </div>
        <div class="search-form-container">
            <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
                <mat-form-field appearance="outline">
                    <mat-label>Search TP Number</mat-label>
                    <input matInput type="text" name="title" ngModel [(ngModel)]="search" formControlName="search"/>
                </mat-form-field>
                <div class="search-button-container" type="submit">
                    <button mat-button>
                        <span class="material-icons-round">
                            search
                            </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="user-section" *ngIf="result">
            <div class="user-info-container">
                <div>
                    {{ name }}
                </div>
                <div>
                    {{ tpNumber.toUpperCase() }}
                </div>
                <div>
                    {{ email }}
                </div>
                <div>
                    {{ contactNumber }}
                </div>
            </div>
            <div class="fine-info-container">
                <div class="info-icon-container">
                    <span class="material-icons-round">
                        attach_money
                        </span>
                </div>
                <div class="fine-amount-container">
                    <div>
                        Total Outstanding
                    </div>
                    <div>
                        RM {{ amount.toFixed(2).toString() }}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="result">
            <div class="fine-record-container"  *ngFor="let fine of fineArray">
                <div>
                    Overdue fine of loan title "{{ fine.title }}"
                </div>
                <div>
                    <div>
                        {{ fine.date }}
                    </div>
                    <div>
                        RM {{ fine.amount.toFixed(2).toString() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button mat-button (click)="onPay()">Pay</button>
    </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
